<p>The following visitor filled out the signup form:</p>
<p><strong>NAME:</strong> <%= @inquiry.full_name %><br />
<strong>EMAIL:</strong> <%= @inquiry.email %><br />
<strong>PHONE:</strong> <%= @inquiry.phone %></p>