div.ui-datepicker { z-index: 101 !important; }
div.panel {
  padding: 10px 0 10px 10px; float: left; clear: both;
  div.schedule {
    background-color: #d94316; width: 760px; padding: 10px 10px 0; @include rounded(5px, 5px, 5px, 5px);
    div.schedule-list {
      height: 479px; overflow-y: scroll; background-color: #FFF;
      li { padding: 5px 10px;  border-bottom: 1px solid #DDD; font-size: 11px; line-height: 16px; }
      li.day { background-color: #AAA; color: #FFF; font-weight: bold; }
    }
    div.title {
      overflow: hidden; font-size: 14px; padding: 10px; overflow: hidden; background-color: #AAA; margin: 0 0 10px; @include rounded(5px, 5px, 5px, 5px); color: #FFF;
      a { float: left; display: block; width: 70px; height: 26px; line-height: 26px; margin: 0 0 0 1px; color: #333; font-size: 10px; }
      a.previous { background: url(../images/previous.png) no-repeat 0 0; text-align: right; padding: 0 10px 0 0; }
      a.today { background-color: #FFF; text-align: center; }
      a.next { background: url(../images/next.png) no-repeat 0 0; text-align: left; padding: 0 0 0 10px; }
      a.previous:hover { background-image: url(../images/previous-over.png); }
      a.next:hover { background-image: url(../images/next-over.png); }
      div.pager { float: right; }
      select { border: none; margin: 0 5px 0 0; padding: 4px; }
    }
    div.schedule-grid { position: relative; }
    div.now { position: absolute; height: 1px; background-color: red; display: block; z-index: 8; }
    div.column { float: left; }
    div.column-header { margin-left: 1px; height: 30px; text-align: center; font-size: 11px; line-height: 14px; color: #FFF; padding: 0; font-weight: bold; }
    div.column-body { position: relative; }
    div.hour { background-color: #EEE; text-align: right; font-size: 10px; line-height: 12px; border-top: 1px solid #888; border-left: 1px solid #888; height: 8px; padding: 0 2px 0 0; }
    div.slot { background-color: #FFF; text-align: center; border-top: 1px solid #BBB; border-left: 1px solid #BBB; height: 8px; }
    div.prime { background-color: #E0E0E0; }
    div.top { border-top: 1px solid #777; }
    .event { background-color: #4986E7; border: 1px solid #2C70D1; }
    .yours { background-color: #FAD165; border: 1px solid #BF9608; }
    .others { background-color: #16A765; border: 1px solid #007D39; }
    .new { background-color: #CCC; border: 1px dashed #666; @include opacity(60, .6); }
    .peak { background-color: #E0E0E0; border: 1px solid #777; }
    div.legend {
      clear: both; padding: 10px 0; overflow: hidden;
      ul { overflow: hidden; float: left; }
      li { float: left; margin: 0 10px 0 0; color: #FFF; }
      span.floorplan-show { float: right; color: #FFF; width: auto; cursor: pointer; }
      span { display: block; width: 16px; height: 16px; float: left; margin: 0 5px 0 0; }
      a { color: #FFF; }
    }
    input.datepicker { border: none; width: 100px; background: #FFF url(../images/calendar.png) no-repeat 4px 4px; padding: 5px 5px 5px 25px; }
    div.right div.popup { right: 0; }
    div.right div.popup-quote { background: url(../images/quote-right.png) no-repeat 0 0; left: 0; }
    div.left div.popup { left: -280px; }
    div.left div.popup-quote { background: url(../images/quote-left.png) no-repeat 0 0; left: 269px; }
    div.schedule-day div.event { left: 64px; width: 695px; }
    div.reservation {
      height:19px; position: absolute; font-size: 8px; line-height: 10px; width: 99%; @include rounded(2px, 2px, 2px, 2px); cursor: pointer;
      p.caption { text-align: center; color: #FFF; padding: 5px 10px; font-size: 11px; line-height: 11px; }
      div.popup {
        position: absolute; top: -5px; right: -1px; z-index: 9; display: none;
        &.active { display: block; }
        div.popup-details { background-color: #FFF; border: 2px solid #CCC; @include rounded(5px, 5px, 5px, 5px); padding: 5px; width: 250px; position: absolute; left: 7px; min-height: 25px; overflow: hidden;}
        div.popup-quote { display: block; width: 16px; height: 16px; text-indent: -9999px; top: 10px; position: absolute; z-index: 7; }
        div.popup-content { width: 195px; float: right; }
        img { float: left; margin: 0 5px 0 0; }
        h2 { font-size: 12px; line-height: 18px; margin: 0; }
        p { font-size: 10px; line-height: 16px; color: #666; }
        strong { color: #666; }
        span.close { cursor: pointer; color: #AAA; font-size: 12px; line-height: 12px; position: absolute; top: 2px; right: 5px; }
      }
    }
  }
}
div.reservation-panel {
  margin: 60px 0 0; float: left;
  p.credits {
    color: #FFF; font-size: 11px; padding: 0 10px;
    strong { color: #ffb001; }
  }
  div.reservation-form { overflow: hidden; width: 220px; }
  div.innerform { background-color: #ffb001; padding: 20px 10px; @include rounded(0, 10px, 10px, 0); border: 10px solid #FFF; border-left: none; height: 480px; }
  h2 { margin: 0 0 10px; font-weight: normal; color: #8c2b0e; }
  dd { margin: 0 0 10px; }
  label { color: #8c2b0e; cursor: pointer; }
  select { padding: 5px; border: none; width: 190px; border: 1px solid #ffb001; }
  input[type="text"] { padding: 5px; border: none; width: 178px; border: 1px solid #ffb001; }
  input.placeholder { color: #999; }
  input.datepicker { padding: 5px 5px 5px 25px; border: none; width: 158px; background: #FFF url(../images/calendar.png) no-repeat 4px 4px; padding: 5px 5px 5px 25px; }
  div.buttons {
    text-align: right; margin: 0 0 10px;
    .button { background: url(/images/button.gif); color: #DDD; font-weight: bold; padding: 5px; font-size: 11px; line-height: 16px; display: block-inline; border: none; cursor: pointer; }
    span { color: #009; text-decoration: underline; cursor: pointer; }
  }
  div.rules {
    background-color: #FFF; padding: 10px;
    li { font-size: 10px; color: #666; }
  }
  div.error_description { background: #D94316; color: #FFF; padding: 2px 5px; margin: 0 0 10px; font-size: 11px; }
  div.field_with_errors {
    display: inline;
    label { color: #900; }
    select, textarea, input { border: 1px solid #D94316 !important; background-color: #FEE !important; }
  }
  table {
    margin: 0 0 10px; background: #666;
    th, td { padding: 5px; font-size: 10px; line-height: 10px; }
    thead {
      th { background-color: #666; color: #FFF; font-weight: normal; }
      td { background-color: #999; color: #FFF; }
    }
    tbody {
      th { text-align: left; }
      tr.odd {
        th, td { background-color: #FFF; }
      }
      tr.even {
        th, td { background-color: #EEE; }
      }
    }
  }
}
div.floorplan { position: fixed; bottom: 0; width: 100%; height: 100%; background-color: #000; z-index: 10; @include opacity(50, 0.5); }
div.floorplan-window { background-color: #333; padding: 10px; top: 20%; left: 20%; position: absolute; @include rounded(10px, 10px, 10px, 10px); z-index: 11; }
