body { background-color: #000; }
div.inner {
  margin: 0 auto; width: 960px; padding: 50px 0; overflow: hidden;
  div.left { float: left; width: 480px; }
  div.right { float: right; width: 480px; }
  div.center { margin: 0 auto; width: 480px; }
  h2 { margin: 0 10px 10px; color: #FFF; }
  p { margin: 0 10px; color: #EEE; font-size: 14px; line-height: 26px; }
}

div.form {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); margin: 0 10px; background-color: #FFF;
  div.header {
    background-color: #000; padding: 10px;
    p { color: #FFF; margin: 0 0 20px; margin: 0; }
    h2 { color: #ffb001; font-size: 28px; line-height: 42px;margin: 0; }
  }
  div.body { padding: 10px; }
  div.buttons { background-color: #DDD; border-top: 1px solid #CCC; padding: 10px; text-align: right; }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] { border: 1px solid #CCC; background-color: #EEE; padding: 10px; width: 418px; }
  input[type="submit"] { background: url(/images/button.gif); color: #DDD; font-weight: bold; padding: 10px 20px; font-size: 13px; line-height: 16px; display: block-inline; border: none; cursor: pointer; margin: 0 0 0 10px; }
  dd { margin: 0 0 20px; }
  dt label {
    font-weight: bold; cursor: pointer;
    &.required { background: url(../images/required.png) no-repeat right 0; padding: 0 15px 0 0; }
  }
  div.error_description { background: #D94316; color: #FFF; padding: 2px 5px; margin: 0 0 10px; font-size: 11px; }
  div.field_with_errors {
    display: inline;
    label { color: #900; }
    select, textarea, input { border: 1px solid #D94316 !important; background-color: #FEE !important; }
  }
}
div.frame {
  background-color: #FFF; padding: 10px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  img { display: block; margin: 0 0 10px; }
  h3 { text-align: center; font-weight: bold; font-size: 12px; line-height: 20px; }
}

div.signin {
  background-color: #000; position: fixed; top: 0; width: 100%; z-index: 99;
  div.inner { padding: 5px 0; text-align: right; }
  a { color: #ffb001; }
  ul { float: left; overflow: hidden; margin: 0 0 0 10px; }
  li { float: left; margin: 0; }
  li a { display: block; padding: 3px 10px; }
  li a:hover { background-color: #ffb001; color: #FFF; @include rounded(5px, 5px, 5px, 5px); }
  p { float: right; margin: 0 10px; color: #FFF; font-size: 13px; }
  p a:hover { text-decoration: underline; }
}

div.first {
  background-color: #ffb001;
  div.inner { padding: 90px 0 50px; }
  div.left {
    div.frame { width: 440px; margin: 0 10px 10px; }
    h3.intro { color: #FFF; font-size: 14px; line-height: 28px; margin: 10px; font-weight: normal; }
  }
  div.right {
    div.frame {
      width: 200px; margin: 0 10px 20px; float: left;
    }
  }
}
div.second {
  background-color: #333;
  tbody {
    th { width: 70%; }
    td { width: 30%; text-align: center; }
  }

}
div.third {
  background-color: #D94316;
  tbody {
    th { width: 30%; }
    td { width: 20%; }
  }
}
div.fourth {
  background-color: #333;
  div.frame { width: 440px; }
  img { margin: 0; }
}
div.fifth {
  background-color: #D94316;
  a { font-weight: bold; color: #FFF; }
  a:hover { text-decoration: underline; }
  div.right { width: 460px; }
}
div.sixth {
  background-color: #333;
  div.frame { width: 440px; }
  img { margin: 0; }
}
div#signup {
  div.inner { padding: 50px 0; }
  div.table { border: none; box-shadow: none; margin: 0 0 20px; }
  thead {
    th { border: 1px solid #AAA; background: #BBB; text-align: left; font-weight: normal; }
    td { border-top: 1px solid #AAA; border-right: 1px solid #AAA; }
  }
  tfoot {
    th { border: 1px solid #AAA; background: #BBB; }
    td { border-bottom: 1px solid #AAA; border-right: 1px solid #AAA; }
  }
}
div#map { display: block; width: 440px; height: 250px; background-color: #333; }
div.thankyou {
  background-color: #ffb001;
  div.inner { padding: 90px 0 50px; }
  div.frame { width: 440px; }
  h1 { margin: -10px -10px 20px; padding: 20px 10px; background-color: #000; color: #ffb001; }
  p { color: #444; margin: 0; }
  p.greeting { padding: 0 0 0 260px; margin: 30px 0; }
}
div.terms {
  overflow-y: scroll; height: 500px; margin: -20px -10px 0; padding: 10px;
  ul { margin: 0 0 20px; }
  li { font-size: 12px; line-height: 20px; margin: 0 0 5px 20px; list-style: disc; }
  p { font-size: 12px; line-height: 20px; margin: 0 0 20px; }
}
div.footer {
  div.inner { padding: 10px 0; }
  p { font-size: 11px; padding: 0 0 0 35px; background: url(../images/thinktopography.jpg) no-repeat 0 0; line-height: 30px; display: inline; padding: 8px 0 8px 35px; }
  a { color: #ffb001; }
  div.byline { text-align: center; }
}