<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
  	<td bgcolor="#FFB001" align="center">
      <table border="0" cellspacing="0" cellpadding="10" width="480">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>
						<table border="0" cellspacing="0" cellpadding="10" width="460" bgcolor="#FFF">
						  <tr>
						    <td bgcolor="#FFFFFF">
						    	<img src="http://studiowestithaca.com/images/studiowest.jpg" width="440" height="290" alt="Studio West, 516 West MLK" title="Studio West, 516 West MLK" />
						    </td>
						  </tr>
							<tr>
								<td bgcolor="#FFFFFF">
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">
									<%= @first_name %>,
									</p>
									<p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">
									We are so glad you came to celebrate with us Friday evening. Your presence helped us see that our vision for supporting entrepreneurship, sustainability,
									and collaboration is shared by many. We believe that Studio West has the capacity to spark
									the kind of new opportunities, relationships, and successes that happen when people come together.
									We got a taste of that at our open house, as we heard that many guests made new
									friends and created valuable connections.
									</p>
                  <table border="0" cellspacing="0" cellpadding="0" width="440">
                    <tr>
                      <td width="215"><img src="http://studiowestithaca.com/images/openhouse/ribbon.jpg" width="215" height="143" alt="Scott K. Hamilton, Danielle Klock, and Greg Kops cutting the ribbon" title="Scott K. Hamilton, Danielle Klock, and Greg Kops cutting the ribbon" /></td>
                      <td width="10">&nbsp;</td>
                      <td width="215"><img src="http://studiowestithaca.com/images/openhouse/crowd.jpg" width="215" height="143" alt="Networking at the Studio West open house" title="Networking at the Studio West open house" /></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="10"></td>
                    </tr>
                    <tr>
                      <td width="215"><img src="http://studiowestithaca.com/images/openhouse/triad.jpg" width="215" height="143" alt="Steven Freidmutter, Bob Steinkamp, and Josh Lower" title="Steven Freidmutter, Bob Steinkamp, and Josh Lower" /></td>
                      <td width="10">&nbsp;</td>
                      <td width="215"><img src="http://studiowestithaca.com/images/openhouse/eldredandralph.jpg" width="215" height="143" alt="Ralph Cutler and Eldred Harris" title="Ralph Cutler and Eldred Harris" /></td>
                    </tr>
                  </table>
									<p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">
									A few members signed up during and shortly after the event, including <a href="http://blinkdigital.us" target="_blank">Blink Digital Graphics</a>,
									<a href="http://www.tyleradmissionsconsulting.com" target="_blank">Tyler Admissions Consulting</a>, and <a href="http://www.blackoakwindny.com" target="_blank">Black Oak Wind Farm</a>, in addition to our very first member, <a href="http://ithacawebmarketing.com" target="_blank">Ithaca Web Marketing</a>.
									Several others showed interest in coworking with us, and we sincerely hope to welcome them soon.
									</p>
									<p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">
									We send a special thank you to Rob LaHood and the <a href="http://www.tompkinschamber.org" target="_blank">Tompkins County Chamber of Commerce</a>, for officiating
									our ribbon-cutting ceremony; <a href="http://www.anestizakos.com" target="_blank">Anesti Zakos</a>, for sharing the beautiful artwork that enhances the creative
									energy of our space; Ed Dittenhoefer of <a href="http://www.freeairphoto.com" target="_blank">Free Air Photo</a>, for his keen eye; and <a href="https://www.facebook.com/profile.php?id=100000821891593" target="_blank">Fred Klock</a>, for his 
									building expertise by transforming a space with potential into the studio we envisioned.
									</p>
									<p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">
									We appreciate each of you.
									</p>
			            <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:22px;color:#444444;margin: 30px 0 30px 250px;">Sincerely,<br />Danielle Klock<br />Greg Kops<br />Scott K. Hamilton</p>
							  </td>
							</tr>
			        <tr>
			        	<td bgcolor="#000000">
			        		<table border="0" cellspacing="0" cellpadding="0">
			        			<tr>
			                <td width="28">
			                  <a href="https://www.facebook.com/studiowestithaca" target="_blank" title="Studio West on Facebook"><img src="http://studiowestithaca.com/images/facebook.png" width="28" height="28" alt="Studio West on Facebook" /></a>
			                </td>
											<td width="10">&nbsp;</td>
			                <td>
			                  <font style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height:18px;color:#FFFFFF;">
			                    Studio West is a project of <a target="_blank" href="http://thinktopography.com" style="color:#FFB001"">Think Topography</a>,<br />a communications and information design company<br /></a>
			                  </font>
			                </td>
			        			</tr>
			        		</table>
		        		</td>
			        </tr>
						</table>
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
  	</td>
  </tr>
</table>