<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td bgcolor="#FFB001" align="center">
      <table border="0" cellspacing="0" cellpadding="10" width="480">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="10" width="460" bgcolor="#FFF">
              <tr>
                <td bgcolor="#FFFFFF">
                  <img src="http://studiowestithaca.com/images/studiowest.jpg" width="440" height="290" alt="Studio West, 516 West MLK" title="Studio West, 516 West MLK" />
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF">
                  <h1 style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:24px;line-height:32px;">Welcome to Studio West!</h1>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">Greetings <%= @user.first_name %>,</p>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">Thank you for choosing to cowork at Studio West. We're happy to welcome you as a member! You will find your temporary login information below.</p>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;background-color:#EEE;padding:10px;margin:10px 0;">
                    <strong>URL:</strong> <a href="http://studiowestithaca.com/sign_in">http://studiowestithaca.com/sign_in</a><br />
                    <strong>EMAIL:</strong> <%= @user.email %><br />
                    <strong>PASSWORD:</strong> <%= @temporary_password %>
                  </p>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">When you first login, you will be asked to agree to our terms of use and change your password. Once you complete your account setup, you will be able to place reservations on the shared schedule.</p>
                  <table border="0" cellspacing="0" cellpadding="10" width="440">
                    <tr bgcolor="#EEE">
                      <td width="195"><img src="http://studiowestithaca.com/images/keypad.jpg" width="195" height="133" alt="Keypad lock outside Studio West" title="Keypad lock outside Studio West" /></td>
                      <td width="195"><p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;"><strong>Building Entry Code</strong><br />You will be able to find your entry code through the scheduling system in the drop down menu in the upper right corner.</p></td>
                    </tr>
                    <tr>
                      <td width="195"><p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;"><strong>Wireless Network</strong><br />When you first arrive at Studio West, you will need to sign onto our secure wireless network. The access code is <strong>wheatgrassmlk</strong>.</p></td>
                      <td width="195"><img src="http://studiowestithaca.com/images/wifi.jpg" width="195" height="133" alt="WIFI at Studio West" title="WIFI at Studio West" /></td>
                    </tr>
                    <tr bgcolor="#EEE">
                      <td width="195"><img src="http://studiowestithaca.com/images/rotary-phone.jpg" width="195" height="175" alt="Frustrated?" title="Frustrated?" /></td>
                      <td width="195"><p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;"><strong>Questions/Conerns?</strong><br />If you have any questions or experience any dificulties placing a reservation, please call us at 607-277-5647 or send us an email at <a href="mailto:hello@studiowestithaca.com">hello@studiowestithaca.com</a>.</p></td>
                    </tr>
									</table>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:26px;color:#444444;">Thank you again for your membership and we look forward to seeing you soon at Studio West. </p>
                  <p style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:22px;color:#444444;margin: 30px 0 30px 225px;">Sincerely,<br />Danielle Klock<br />Greg Kops<br />Scott K. Hamilton</p>
                </td>
              </tr>
              <tr>
                <td bgcolor="#000000">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="28">
                        <a href="https://www.facebook.com/studiowestithaca" target="_blank" title="Studio West on Facebook"><img src="http://studiowestithaca.com/images/facebook.png" width="28" height="28" alt="Studio West on Facebook" /></a>
                      </td>
                      <td width="10">&nbsp;</td>
                      <td>
                        <font style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height:18px;color:#FFFFFF;">
                          Studio West is a project of <a target="_blank" href="http://thinktopography.com" style="color:#FFB001"">Think Topography</a>,<br />a communications and information design company<br /></a>
                        </font>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>