<% content_for :main do %>

  <div class="form">
  	
		<div class="header">
			<h2>Password</h2>
			<p>Fill out the form below to change your password</p>
		</div>
    
    <% form_for @user, :url => password_settings_url, :method => 'PUT' do |f| %>
    
      <div class="body">
  
        <dl>
          
          <%= f.password_field_control @user, :password, { :text => 'Password', :class => 'required' }, { :autocomplete => 'off' } %>

          <%= f.password_field_control @user, :password_confirmation, { :text => 'Confirm', :class => 'required' }, { :autocomplete => 'off' } %>
				
				</dl>

      </div>
    
      <div class="buttons">
    
        <%= link_to 'Cancel', reservations_url %> or 
        <%= f.submit "Change", { :class => "button" } %>
        
      </div>
    
    <% end %>
  
  </div>

<% end %>