<p><strong>Coworking Membership Agreement</strong><br />
Studio West seeks to provide a shared, community-driven workspace for independent workers. It exists because
of you and for you. As a member, you will not just be a customer of Studio West; you'll be an active part of the
Studio West community.</p>
<p><strong>All Memberships Feature</strong>
<ul>
  <li>Work alongside creative freelancers, entrepreneurs and remote workers in a collaborative environment</li>
  <li>Access to high-speed wireless Internet</li>
  <li>Use of conference room</li>
  <li>Use of private office</li>
  <li>10% discount to your first years membership in the SEEN</li>
  <li>Month to month pricing with discounts for for three and six month commitments, paid upfront</li>
  <li>Members must use any leftover credits in the same calendar month</li>
  <li>Monthly memberships begin on the first day of each month</li>
  <li>New memberships are prorated for the first month</li>
  <li>All membership payments are due on the first of every month</li>
  <li>All invoices will be emailed to you monthly</li>
  <li>If payment is not received within 7 days of the invoice due date, your membership will be given to the first coworker on the waiting list</li>
</ul>

<p><strong>Terms of Use</strong></p>
<p><strong>1. Acceptance of Terms</strong><br />
The services Studio West ("Studio West") provides to you, the undersigned (including but not limited to use of office space and
access to Internet), are subject to the following Terms of Use ("TOU"). Studio West reserves the right to update the TOU at any
time. Studio West is a project of Think Topography ("Think Topography").&nbsp; Any and all protections afforded to Studio West
are implicitly transferred to Think Topography . Studio West will attempt to contact you to notify you of any updates within 30
days of their enactment.</p>

<p><strong>2. Description of Services</strong><br />
Studio West may provide you with access to office space, work stations, Internet access, office equipment, conference space,
knowledge resources, and other services as Studio West may provide from time to time (collectively, "Services"). The Services
at all times are subject to the TOU.</p>

<p><strong>3. No Unlawful or Prohibited Use</strong><br />
As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by
these terms, conditions and notices. You may not use the Services in any manner that could damage, disable, overburden, or
impair the Studio West network or interfere with any other party's use and enjoyment of any Services. You may not attempt to
gain unauthorized access to any Services, or accounts, computer systems or networks connected to any Studio West server or to
any of the Services, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials
or information through any means not intentionally made available through the Services. You hereby represent and warrant that
you have all requisite legal power and authority to enter into and abide by the terms and conditions of this TOU and no further
authorization or approval is necessary. You further represent and warrant that your participation or use of the Services will
not conflict with or result in any breach of any license, contract, agreement or other instrument or obligation to which you
are a party.</p>

<p><strong>4. Use of services</strong><br />
You agree that when participating in or using the Services, you will not:<br />

a) give your building entrance code to anyone else or allow non-paying customers entrance into or use of the space at any time.
Giving your building entrance code to someone else is grounds for immediate termination of your membership plan and a lifetime ban
from Studio West for both you and the person that you let in to the space. clients?<br />

b) Use the Services in connection withc ontests, pyramid schemes, chain letters, junk email, spamming or any duplicative or
unsolicited message (commercial or otherwise);<br />

c) Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;<br />

d) Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, obscene, indecent or unlawful topic,
name, material or information on or through Studio West Services;<br />

e) Upload, or otherwise make available, files that contain images, photographs, software or other material protected by
intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of
privacy or publicity) unless you own or control the rights thereto or have received all necessary consent to do the same;<br />

f) Use any material or information, including images or photographs, which are made available through the Services in any manner
that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party;<br />

g) Upload files that contain viruses, Trojan Horses, worms, time bombs, cancelbots, corrupted files, or any other similar software
or programs that may damage the operation of another's computer or property of another;<br />

h) Download any file(s) that you know, or reasonably should know, cannot be legally reproduced, displayed, performed, and/or
distributed in such manner;<br />

i) Restrict or inhibit any other user from using and enjoying the Services;<br />

j) Violate any code of conduct of other guidelines which may be applicable for any particular service;<br />

k) Harvest or otherwise collect information about others, including email addresses, without the authorization or consent of the
disclosing party;<br />

l) Violate any applicable laws or regulations; and<br />

m) Create a false identity for the purpose of misleading others.</p>

<p>5. Studio West reserves the right at all times to disclose any information about you, your participation in and use of the
Services as Studio West deems necessary to satisfy any applicable law, regulation, legal process or governmental request, or to
edit, refuse to post or to remove any information or materials, in whole or in part, in Studio West's sole discretion.</p>

<p><strong>6. Confidentiality</strong><br />
a. You acknowledge and agree that during your participation in and use of the Services you may be exposed to Confidential
Information. "Confidential Information" shall mean all information, in whole or in part, that is disclosed by Studio West or any
participant or user of the Services or any employee, affiliate, or agent thereof, that is nonpublic, confidential or proprietary
in nature. Confidential Information also includes, without limitation, information about business, sales, operations, know-how,
trade secrets, technology, products, employees, customers, marketing plans, financial information, services, business affairs,
any knowledge gained through examination or observation of or access to the facilities, computer systems and/or books and records
of Studio West, any analyses, compilations, studies or other documents prepared by Studio West or otherwise derived in any manner
from the Confidential Information and any information that you are obligated to keep confidential or know or has reason to know
should be treated as confidential.<br />

b. Your participation in and/or use of the Services obligates you to:<br />
I. maintain all Confidential Information in strict confidence;<br />
II. not to disclose Confidential Information to any third parties;<br />
III. not to use the Confidential Information in any way directly or indirectly detrimental to Studio West or any participant or
user of the Services.<br />

c. All Confidential Information remains the sole and exclusive property of Studio West or the respective disclosing party. You
acknowledge and agree that nothing in this TOU or your participation or use of the Services will be construed as granting any
rights to you, by license or otherwise, in or to any Confidential Information or any patent, copyright or other intellectual
property or proprietary rights of Studio West or any participant or user of the Services.</p>

<p><strong>7. Participation In or Use of Services</strong><br />
You acknowledge that you are participating in or using the Services at your own free will and decision. You acknowledge that
Studio West does not have any liability with respect to your access, participation in, use of the Services, or any loss of
information or property resulting from such participation or use.</p>

<p><strong>8. Disclaimer of Warranties</strong><br />
To the maximum extent permitted by applicable law, Studio West provides the services "as is" and with all faults, and hereby
disclaim with respect to the services all warranties and conditions, whether express, implied or statutory, including, but not
limited to, any (if any) warranties, duties or conditions of or related to: merchantability, fitness for a particular purpose,
lack of viruses, accuracy or completeness of responses, results, workmanlike effort and lack of negligence. Also, there is no
warranty, duty or condition of title, quiet enjoyment, quiet possession, correspondence to description or non-infringement.
The entire risk as to the quality, or arising out of participation in or the use of the services, remains with you.</p>
<p><strong>9. Exclusion of Incidental, Consequential and Certain Other Damages</strong><br />
To the maximum extent permitted by applicable law, in no event shall Studio West or its subsidiaries (whether or not wholly-owned),
affiliates, divisions, and their past, present and future officers, agents, shareholders, members, representatives, employees,
successors and assigns, jointly or individually be liable for any direct, special, incidental, indirect, punitive, consequential
or other damages whatsoever (including, but not limited to, damages for: loss of profits, loss of confidential or other information,
business interruption, personal injury, loss of privacy, failure to meet any duty (including of good faith or of reasonable care),
negligence, and any other pecuniary or other loss whatsoever) arising out of or in any way related to the participation in or
inability to participate in or use of the services, the provision of or failure to provide services, or otherwise under or in
connection with any provision of this agreement, even in the event of the fault, tort (including negligence), strict liability,
breach of contract or breach of warranty of Studio West, and even if Studio West has been advised of the possibility of such
damages. Because some states/jurisdictions do not allow the exclusion or limitation of liability, for consequential or incidental
damages, the above limitation may not apply to you.</p>

<p><strong>10. Limitation of Liability and Remedies</strong><br />
Notwithstanding anydamages that you might incur for any reason whatsoever (including, without limitation, all damages referenced
above and all direct or general damages), the entire liability of Studio West or its subsidiaries (whether or not wholly-owned),
affiliates, divisions, and their past, present and future officers, agents, shareholders, members, representatives, employees,
successors and assigns under any provision of this TOU and your exclusive remedy for all of the foregoing shall be limited to
actual damages incurred by you based on reasonable reliance up to ten dollars (USD $10.00). The foregoing limitations, exclusions
and disclaimers (including sections 8 and 9 above) shall apply to the maximum extent permitted by applicable law, even if any
remedy fails its essential purpose.</p>

<p><strong>11. Termination</strong><br />
Studio West reserves the right to terminate any Service at any time. Studio West further reserves the right to terminate your
participation in and use of any Services, immediately and without notice, if you fail to comply with the TOU.</p>

<p><strong>12. Indemnification</strong><br />
You release, and hereby agree to indemnify, defend and save harmless Think Topography and Studio West's subsidiaries (whether
or not wholly-owned), affiliates, divisions, and their past, present and future officers, agents, shareholders, members,
representatives, employees, successors and assigns, jointly and individually, from and against all claims, liabilities, losses,
damages, costs, expenses, judgments, fines and penalties based upon or arising out of your negligent actions, errors and omissions,
willful misconduct and fraud in connection with the participation in or use of the Services. You further agree in the event that
you bring a claim or lawsuit in violation of this agreement, you shall be liable for any attorneys' fees and costs incurred by
Studio West or its respective officers and agents in connection with the defense of such claim or lawsuit.</p>

<p><strong>13. Severability</strong><br />
In the event that any provision or portion of this TOU is determined to be invalid, illegal or unenforceable for any reason, in
whole or in part, the remaining provisions of this TOU shall be unaffected thereby and shall remain in full force and effect to
the fullest extent permitted by applicable law.</p>

<p><strong>14. Insurance</strong><br />
Studio West will carry Liability and Business Personal Property insurance for Studio West's own property in the space. As a user,
it is strongly suggested that you carry a Renters Insurance policy to cover your own equipment while using the space. That policy
may cover your current residence/office, as well as the premises of Studio West. Studio West &amp; Think Topography is not
responsible for theft of or damage to any of your personal property for any reason. It is strongly recommended that you use cable
lock systems on any electronic device and pack in/pack out your items each day.</p>

<p><strong>15. Parking.</strong><br />
Members and customers must follow all city parking regulations. Members must park in accordance with all posted signs and notices.
There is metered parking on MLK Jr / State Street, two hour free parking on Corn Street, and unlimited parking a block away on
Seneca Street.&nbsp; It is recommended that you ride your bike, walk to or use public transportation, if possible, when coming to
Studio West.</p>

<p><strong>16. Consent for Photography/Video Consent for Media Release &amp; Promotional Use.</strong><br />
Member hereby grants permission to Studio West, its employees, interns, or representatives to take and use:<br />
a) photography/digital images<br />
b) videotape<br />
c) recorded audio or quoted remarks of member for use by Studio West in promotional or educational materials. These materials might
include but are not limited to electronic publications, printed publications, the Studio West website, Facebook page, Twitter
account or other electronic or print communications. Member further agrees that his/her name and identity may be revealed in
descriptive text or commentary in connection with the image(s) published.<br />
<br />
Member also agrees that the media may contact member regarding his/her involvement with Studio West.<br />
<br />
Member authorizes the use of these materials indefinitely without compensation. All prints, digital reproductions, video, and
audio recordings shall be the property of Studio West.<br /><br />* Studio West will always contact its members to request the use
of any of the materials described above, and will provide an open and honest description of the manner in which the materials will
be used. Materials are to be used in a promotional context unless otherwise specified in the communications with the member
featured in the media. Studio West or a representative of will always contact you if any alterations/editing takes place on the
materials being provided of/by you the member.</p>