<% content_for :main do -%>
<div class="thankyou">
  <div class="inner">
    <div class="center">
      <div class="frame">
	      <h1>Terms of Usage</h1>
		    <div class="terms">
		      <%= render 'terms' %>
		    </div>    
      </div>
    </div>
  </div>
</div>
<% end %>