<% content_for :main do -%>
<div class="thankyou">
  <div class="inner">
    <div class="center">
    	<div class="frame">
        <h1>We Got It!</h1>
				<p>Thank you for your interest in coworking at Studio West.  We're looking forward to meeting you! We will be in touch soon to set up a time to show you the space and better understand your coworking needs.</p>
				<p class="greeting">Sincerely,<br />
				Danielle, Greg, & Scott</p>
				<p class="back">&laquo; <%= link_to "Back to site", home_url %></p>
    	</div>
    </div>
  </div>
</div>

<% end %>