<% content_for :main do %>
  <div class="table">
    <div class="table-header">
      <ul class="next">
        <li><%= link_to 'New', new_admin_user_url, :class => 'button' %></li>
      </ul>
    </div>
    <form method="post" class="actions">

      <div class="table-body">
        <table>
          <thead>
            <tr>
              <td width="100%">Name</td>
            </tr>
          </thead>
          <tbody>
            <% unless @users.empty? %>
              <% @users.each do |user| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <th><%= link_to user.full_name, admin_user_url(user) %></th>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>There are no users</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </form>
  </div>
<% end -%>