<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td bgcolor="#FFB001" align="center">
      <table border="0" cellspacing="0" cellpadding="10" width="480">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="10" width="460" bgcolor="#FFF">
              <tr>
                <td bgcolor="#FFFFFF">
                  <img src="http://studiowestithaca.com/images/studiowest.jpg" width="440" height="290" alt="Studio West, 516 West MLK" title="Studio West, 516 West MLK" />
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><%= yield %></td>
              </tr>
              <tr>
                <td bgcolor="#000000">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="28">
                        <a href="https://www.facebook.com/studiowestithaca" target="_blank" title="Studio West on Facebook"><img src="http://studiowestithaca.com/images/facebook.png" width="28" height="28" alt="Studio West on Facebook" /></a>
                      </td>
                      <td width="10">&nbsp;</td>
                      <td>
                        <font style="font-family:lucida grande,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height:18px;color:#FFFFFF;">
                          Studio West is a project of <a target="_blank" href="http://thinktopography.com" style="color:#FFB001"">Think Topography</a>,<br />a communications and information design company<br /></a>
                        </font>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>